# JIRA silent installer
launch.application$Boolean=false
rmiPort$Long=8005
app.jiraHome=/var/atlassian/application-data/jira
app.install.service$Boolean=true
existingInstallationDir=/opt/atlassian/jira
sys.confirmedUpdateInstallationString=false
sys.languageId=en
sys.installationDir={{ playbook_dir }}/{{ install_dir }}
executeLauncherAction$Boolean=true
httpPort$Long=8080
portChoice=default
