# install4j response file for Bitbucket
app.bitbucketHome=/var/atlassian/application-data/bitbucket
app.defaultInstallDir={{ playbook_dir }}/{{ install_dir }}
app.install.service$Boolean=true
executeLauncherAction$Boolean=true
httpPort=7990
installation.type=INSTALL
launch.application$Boolean=true
sys.adminRights$Boolean=true
sys.languageId=en